

.start { grid-area: startM;
background-image: url("start.png");
background-size:cover;
}

.szCard
{
    grid-area: szCard;
}

.M1 { grid-area: m1;background-color: #aa6752;}
.M2 { grid-area: m2;background-color: #ff4a3b;}
.M3 { grid-area: m3;background-color: #ffc643;}
.M4 { grid-area: m4;background-color: #70b95b;}
.M5 { grid-area: m5;background-color: #7eccca;}
.M6 { grid-area: m6;background-color: #af6a52;}
.M7 { grid-area: m7;background-color: #6ecbce;}
.M8 { grid-area: m8;background-color: #62b147;}
.M9 { grid-area: m9;background-color: #ff4f3f;}
.M10 { grid-area: m10;background-color: #ffd337;}
.M11 { grid-area: m11;background-color: #b66150;}
.M12 { grid-area: m12;background-color: #54ad47;}

.M13 { grid-area: m13;
background-image: url("Kepek/13.png");
background-size: cover;
}
.M14 { grid-area: m14;background-color:#b37057;}
.M15 { grid-area: m15;background-color:#ff4c41;}
.M16 { grid-area: m16;background-color:#f3ba41;}
.M17 { grid-area: m17;background-color:#218199;}
.M18 { grid-area: m18;background-color:#895525;}
.M19 { grid-area: m19;background-color:#298635;}

.M20 { grid-area: m20;
background-image: url(Kepek/20.jpg);
background-size: cover;
background-position: 0% 20%;
}
.M21 { grid-area: m21;background-color:#d7b800;}
.M22 { grid-area: m22;background-color:#e04817;}
.M23 { grid-area: m23;
    background-image: url(Kepek/23.jpg);
    background-size: cover;}

.M24 { grid-area: m24;background-color:#55b2c3;}

.M25 { grid-area: m25;
    background-image: url(Kepek/25.jpg);
    background-size: cover;}

.M26 { grid-area: m26;background-color:#9a6a39;}
.M27 { grid-area: m27;background-color:#ffd83f;}

.M28 { grid-area: m28;
    background-image: url(Kepek/28.png);
    background-size: cover;
}
.M29 { grid-area: m29;background-color:#73bf5a;}

.M30 { grid-area: m30;
    background-image: url(Kepek/30.png);
    background-size: cover;}

.M31 { grid-area: m31;background-color:#ff463d;}
.M32 { grid-area: m32;background-color:#86dfe3;}

.M33 { grid-area: m33;
background-image: url(Kepek/33.png);
background-size: cover;
background-position: 0% 40%;
}

.M34 { grid-area: m34;background-color:#ffd93f;}
.M35 { grid-area: m35;background-color:#ff4e3c;}
.M36 { grid-area: m36;background-color:#97654a;}
.M37 { grid-area: m37;background-color:#97654a;}
.M38 { grid-area: m38;background-color:#ffd63f;}
.M39 { grid-area: m39;background-color:#7fd3d2;}



#tabla
{
    height:1010px;
    width:1800px;
    margin: auto;
    background-color: blue;
    border:10px solid black;
    display: grid;
    grid-template:
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm19 m19 . . m24 m24 m24 m26 m27 m29 m29 m29 . . m34 m34'
    'm18 m18 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m35 m35'
    'm17 m17 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m36 m36'
    'm16 m16 . . . . . . . . . . . . m37 m37'
    'm15 m15 . . . . . . . . . . . . m38 m38'
    'm14 m14 . . . . . . . . . . . . m39 m39'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM';

}

#tabla > div
{
    border: 1px solid black;
}

.szam {grid-area:szamHelye;}
.kep{grid-area:kepHelye;}
.szoveg{grid-area:szovegHelye;}

.kismezoV
{
    display:grid;
    grid-template:
    'szamHelye'
    'kepHelye'
    'kepHelye'
    'kepHelye'
    'szovegHelye'
    'szovegHelye';
}

.kismezoV-
{
    display:grid;
    grid-template:
    'szovegHelye'
    'szovegHelye'
    'kepHelye'
    'kepHelye'
    'kepHelye'
    'szamHelye';
}

.kismezoF
{
    display:grid;
    grid-template:
    'szovegHelye szovegHelye kepHelye kepHelye kepHelye szamHelye';
}
.kismezoFJ
{
    display:grid;
    grid-template:
    'szamHelye kepHelye kepHelye kepHelye szovegHelye szovegHelye';
}

.kismezoV > div
{
    border:1px solid black;
}

.kismezoF > div
{
    border:1px solid black;
}
.kismezoFJ > div
{
    border:1px solid black;
}

.kismezoV- > div
{
    border:1px solid black;
}

.M1 > .kep{background-image: url(Kepek/1.png);background-size: contain;background-position: 0% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M2 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}
.M3 > .kep{background-image: url(Kepek/3.png);background-size: cover;background-position: 0% 50%;}
.M4 > .kep{background-image: url(Kepek/4.png);background-size: contain;background-position: 0% 0%;background-color: #fdf1c7;background-repeat: no-repeat;}
.M5 > .kep{background-image: url(Kepek/5.png);background-size: contain;background-position: 0% 0%;background-color: #fdf1c7;background-repeat: no-repeat;}
.M6 > .kep{background-image: url(Kepek/6.png);background-size: contain;background-position: 40% 40%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M7 > .kep{background-image: url(Kepek/7.png);background-size: contain;background-position: 30% 0%;background-color: #fdf1c7;background-repeat: no-repeat;}
.M8 > .kep{background-image: url(Kepek/8.png);background-size: contain;background-position: 30% 0%;background-color: #fdf1c7;background-repeat: no-repeat;}
.M9 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}
.M10 > .kep{background-image: url(Kepek/10..png);background-size: contain;background-position: 40% 90%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M11 > .kep{background-image: url(Kepek/11.png);background-size: cover;}
.M12 > .kep{background-image: url(Kepek/12.png);background-size: contain;background-position: 40% 90%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M14 > .kep{background-image: url(Kepek/14.png);background-size: contain;background-position: 0% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M15 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}
.M16 > .kep{background-image: url(Kepek/16.png);background-size: cover;}
.M17 > .kep{background-image: url(Kepek/17.jpg);background-size: contain;background-position: 50% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M18 > .kep{background-image: url(Kepek/18.jpg);background-size: cover;background-position: 0% 50%;}
.M19 > .kep{background-image: url(Kepek/19.jpg);background-size: cover;background-position: 0% 40%;}

.M21 > .kep{background-image: url(Kepek/21.jpg);background-size: cover;background-position: 30% 20%;}
.M22 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}

.M24 > .kep{background-image: url(Kepek/24.jpg);background-size: contain;background-position: 50% 0%;background-color: #fdf1c7;background-repeat: no-repeat;}

.M26 > .kep{background-image: url(Kepek/26.jpg);background-size: contain;background-position: 0% 40%;background-color: #fdf1c7;background-repeat: no-repeat;}
.M27 > .kep{background-image: url(Kepek/27.png);background-size: contain;background-position: 50% 50%;background-color: #fff5d0;background-repeat: no-repeat;}

.M29 > .kep{background-image: url(Kepek/29.png);background-size: cover;background-position: 0% 50%;}

.M31 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}
.M32 > .kep{background-image: url(Kepek/32.png);background-size: cover;background-position: 0% 50%;}

.M34 > .kep{background-image: url(Kepek/34.png);background-size: contain;background-position: 50% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M35 > .kep{background-image: url(Kepek/szerencseM.png);background-size: cover;background-position: 0% 50%;}
.M36 > .kep{background-image: url(Kepek/36.png);background-size: contain;background-position: 50% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M37 > .kep{background-image: url(Kepek/37.png);background-size: cover;background-position: 0% 50%;}
.M38 > .kep{background-image: url(Kepek/38.png);background-size: contain;background-position: 0% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
.M39 > .kep{background-image: url(Kepek/39.png);background-size: contain;background-position: 0% 0%;background-color: #ffe9c1;background-repeat: no-repeat;}
/*
#tablaSorFelso
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 0px;
}
*/

/*
#nagybox
{
    background-color: #f1f1f1;
    border: 1px solid black;

    text-align: center;
}
#kisboxOszlop{

    background-color: #f1f1f1;
    border: 1px solid black;
    height:87.94px;
    width:187.83px;
    text-align: center;
}

#kisboxSor
{
    background-color: #f1f1f1;
    border: 1px solid black;
    width:87.94px;
    height:187.83px;
    text-align: center;
}*/
