

.start { grid-area: startM;
background-image: url("Kepek/start.png");
background-size:cover;
}

.szCard
{
    grid-area: szCard;
}

.mezo {
    grid-area: mkep;
    background-size: cover;
}

.M1 { grid-area: m1;background-image: url(Kepek/1.png);}
.M2 { grid-area: m2;background-image: url(Kepek/2.png);}
.M3 { grid-area: m3;background-image: url(Kepek/3.png);}
.M4 { grid-area: m4;background-image: url(Kepek/4.png);}
.M5 { grid-area: m5;background-image: url(Kepek/5.png);}
.M6 { grid-area: m6;background-image: url(Kepek/6.png);}
.M7 { grid-area: m7;background-image: url(Kepek/7.png);}
.M8 { grid-area: m8;background-image: url(Kepek/8.png);}
.M9 { grid-area: m9;background-image: url(Kepek/9.png);}
.M10 { grid-area: m10;background-image: url(Kepek/10.png);}
.M11 { grid-area: m11;background-image: url(Kepek/11.png);}
.M12 { grid-area: m12;background-image: url(Kepek/12.png);}

.M13 { grid-area: m13;
    background-image: url(Kepek/13.png);;
background-size: cover;
}
.M14 { grid-area: m14;background-image: url(Kepek/14.png);}
.M15 { grid-area: m15;background-image: url(Kepek/15.png);}
.M16 { grid-area: m16;background-image: url(Kepek/16.png);}
.M17 { grid-area: m17;background-image: url(Kepek/17.jpg);}
.M18 { grid-area: m18;background-image: url(Kepek/18.jpg);}
.M19 { grid-area: m19;background-image: url(Kepek/19.jpg);}

.M20 { grid-area: m20;
background-image: url(Kepek/20.jpg);
background-size: cover;
background-position: 0% 20%;
}
.M21 { grid-area: m21;background-image: url(Kepek/21.jpg);}
.M22 { grid-area: m22;background-image: url(Kepek/22.jpg);}
.M23 { grid-area: m23;
    background-image: url(Kepek/23.jpg);
    background-size: cover;}

.M24 { grid-area: m24;background-image: url(Kepek/24.jpg);background-position: 30%;}

.M25 { grid-area: m25;
    background-image: url(Kepek/25.jpg);
    background-size: cover;}

.M26 { grid-area: m26;background-image: url(Kepek/26.jpg);}
.M27 { grid-area: m27;background-image: url(Kepek/27.png);}

.M28 { grid-area: m28;
    background-image: url(Kepek/28.png);
    background-size: cover;
}
.M29 { grid-area: m29;background-image: url(Kepek/29.png);}

.M30 { grid-area: m30;
    background-image: url(Kepek/30.png);
    background-size: cover;}

.M31 { grid-area: m31;background-image: url(Kepek/31.png);}
.M32 { grid-area: m32;background-image: url(Kepek/32.png);}

.M33 { grid-area: m33;
background-image: url(Kepek/33.png);
background-size: cover;
background-position: 0% 40%;
}

.M34 { grid-area: m34;background-image: url(Kepek/34.png);}
.M35 { grid-area: m35;background-image: url(Kepek/35.png);}
.M36 { grid-area: m36;background-image: url(Kepek/36.png);}
.M37 { grid-area: m37;background-color:#97654a;background-image: url(Kepek/37.png);}
.M38 { grid-area: m38;background-image: url(Kepek/38.png);}
.M39 { grid-area: m39;background-image: url(Kepek/39.png);}



#tabla
{
    height:1010px;
    width:1800px;
    margin: auto;
    background-color: blue;
    border:10px solid black;
    display: grid;
    grid-template:
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm19 m19 . . m24 m24 m24 m26 m27 m29 m29 m29 . . m34 m34'
    'm18 m18 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m35 m35'
    'm17 m17 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m36 m36'
    'm16 m16 . . . . . . . . . . . . m37 m37'
    'm15 m15 . . . . . . . . . . . . m38 m38'
    'm14 m14 . . . . . . . . . . . . m39 m39'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM';
}

#tabla div
{
    border: 1px solid black;
}

/*
.M1 .kep{}
.M2 .kep{background-image: url(Kepek/szerencseM.png);}
.M3 .kep{background-image: url(Kepek/3.png);}
.M4 .kep{background-image: url(Kepek/4.png);}

.M5 .kep{background-image: url(Kepek/5.png);}
.M6 .kep{background-image: url(Kepek/6.png);}
.M7 .kep{background-image: url(Kepek/7.png);}
.M8 .kep{background-image: url(Kepek/8.png);}
.M9 .kep{background-image: url(Kepek/szerencseM.png);}
.M10 .kep{background-image: url(Kepek/10..png);}
.M11 .kep{background-image: url(Kepek/11.png);}
.M12 .kep{background-image: url(Kepek/12.png);}
.M14 .kep{background-image: url(Kepek/14.png);}
.M15 .kep{background-image: url(Kepek/szerencseM.png);}
.M16 .kep{background-image: url(Kepek/16.png);}
.M17 .kep{background-image: url(Kepek/17.jpg);}
.M18 .kep{background-image: url(Kepek/18.jpg);}
.M19 .kep{background-image: url(Kepek/19.jpg);}

.M21 .kep{background-image: url(Kepek/21.jpg);}
.M22 .kep{background-image: url(Kepek/szerencseM.png);}

.M24 .kep{background-image: url(Kepek/24.jpg);}

.M26 .kep{background-image: url(Kepek/26.jpg);}
.M27 .kep{background-image: url(Kepek/27.png);}

.M29 .kep{background-image: url(Kepek/29.png);}

.M31 .kep{background-image: url(Kepek/szerencseM.png);}
.M32 .kep{background-image: url(Kepek/32.png);}

.M34 .kep{background-image: url(Kepek/34.png);}
.M35 .kep{background-image: url(Kepek/szerencseM.png);}
.M36 .kep{background-image: url(Kepek/36.png);}
.M37 .kep{background-image: url(Kepek/37.png);}
.M38 .kep{background-image: url(Kepek/38.png);}
.M39 .kep{background-image: url(Kepek/39.png);}
*/




#babu {
    position: absolute;
    width: 100px; 
    height: 177px; 
    pointer-events: none;
}

#babu img {
    width: 100%;
    height: 100%;
    border: 0px solid black;
}
