/*div{
    background-color: red;
    width:100px;
    height:100px;
    border:1px solid black;
    float:right;
}*/
#tabla > div
{
    background-color: #f1f1f1;
    border: 1px solid black;
    float:left
}

    
#startM { grid-area: startM;}
#mezo1 { grid-area: mezo1;}
#mezo2 { grid-area: mezo2; }
#mezo3 { grid-area: mezo3;}
#mezo4 { grid-area: mezo4;}
#mezo5 { grid-area: mezo5;}
#mezo6 { grid-area: mezo6;}
#mezo7 { grid-area: mezo7;}
#mezo8 { grid-area: mezo8;}
#mezo9 { grid-area: mezo9;}
#mezo10 { grid-area: mezo10;}

.nagy
{
    height:187px;
    width:188px;
    border:1px solid black;
}
.kicsi
{
    height:88px;
    width:188px;
    border:1px solid black;
}
#tabla
{
    height:917px;
    width:1800px;
    margin: auto;
    background-color: blue;
    border:10px solid black;
    display: grid;
    grid-template: startM mezo1 mezo2 mezo3 mezo4 mezo5 mezo6 mezo7 mezo8 mezo9 mezo10;
}



#tablaOszlop
{
    display: grid;
    grid-template-columns: start mezo1 mezo2 mezo3 mezo4 mezo5 mezo6 mezo7 mezo8 mezo9 mezo10;
}

/*
#tablaSorFelso
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 0px;
}
*/

/*
#nagybox
{
    background-color: #f1f1f1;
    border: 1px solid black;

    text-align: center;
}
#kisboxOszlop{

    background-color: #f1f1f1;
    border: 1px solid black;
    height:87.94px;
    width:187.83px;
    text-align: center;
}

#kisboxSor
{
    background-color: #f1f1f1;
    border: 1px solid black;
    width:87.94px;
    height:187.83px;
    text-align: center;
}*/
