/*div{
    background-color: red;
    width:100px;
    height:100px;
    border:1px solid black;
    float:right;
}*/


/*
#nagy
{
    height:187px;
    width:188px;
    border:1px solid black;
}
#kicsi
{
    height:88px;
    width:188px;
    border:1px solid black;
}

#kicsiO
{
    width:88px;
    height:188px;
    border:1px solid black;
}

#tabla
{

    grid-template-areas: 
    "startM"
    "mezo39" 
    "mezo38" 
    "mezo37" 
    "mezo36"
    "mezo35"
    "mezo34" 
    "mezo33" 
    "mezo32";
    grid-template-columns: 1fr 3fr;
    gap: 0px;
    padding: 0px;
}

#tablafelsoSor
{
    height:188px;
    width:1080px;
    margin: auto;
    background-color: blue;
    border:10px solid black;
    position:absolute;
    left:239px;
    gap: 0px;
    padding: 0px;
}
    */

.start { grid-area: startM;
background-image: url("start.png");
background-size:cover;
}

.M1 { grid-area: m1;}
.M2 { grid-area: m2;}
.M3 { grid-area: m3;}
.M4 { grid-area: m4;}
.M5 { grid-area: m5;}
.M6 { grid-area: m6;}
.M7 { grid-area: m7;}
.M8 { grid-area: m8;}
.M9 { grid-area: m9;}
.M10 { grid-area: m10;}
.M11 { grid-area: m11;}
.M12 { grid-area: m12;}

.M13 { grid-area: m13;
background-image: url("Képek/13.png");
background-size: cover;
}
.M14 { grid-area: m14;}
.M15 { grid-area: m15;}
.M16 { grid-area: m16;}
.M17 { grid-area: m17;}
.M18 { grid-area: m18;}
.M19 { grid-area: m19;}

.M20 { grid-area: m20;
background-image: url(Képek/20.jpg);
background-size: cover;
}
.M21 { grid-area: m21;}
.M22 { grid-area: m22;}
.M23 { grid-area: m23;
    background-image: url(Képek/23.jpg);
    background-size: cover;}

.M24 { grid-area: m24;}

.M25 { grid-area: m25;
    background-image: url(Képek/25.jpg);
    background-size: cover;}

.M26 { grid-area: m26;}
.M27 { grid-area: m27;}

.M28 { grid-area: m28;
    background-image: url(Képek/28.png);
    background-size: cover;
}
.M29 { grid-area: m29;}

.M30 { grid-area: m30;
    background-image: url(Képek/30.png);
    background-size: cover;}

.M31 { grid-area: m31;}
.M32 { grid-area: m32;}

.M33 { grid-area: m33;
background-image: url(Képek/33.png);
background-size: cover;
}

.M34 { grid-area: m34;}
.M35 { grid-area: m35;}
.M36 { grid-area: m36;}
.M37 { grid-area: m37;}
.M38 { grid-area: m38;}
.M39 { grid-area: m39;}



#tabla
{
    height:1010px;
    width:1800px;
    margin: auto;
    background-color: blue;
    border:10px solid black;
    display: grid;
    grid-template:
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm20 m20 m21 m22 m23 m23 m23 . . m30 m30 m30 m31 m32 m33 m33'
    'm19 m19 . . m24 m24 m24 m26 m27 m29 m29 m29 . . m34 m34'
    'm18 m18 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m35 m35'
    'm17 m17 . . m25 m25 m25 m26 m27 m28 m28 m28 . . m36 m36'
    'm16 m16 . . . . . . . . . . . . m37 m37'
    'm15 m15 . . . . . . . . . . . . m38 m38'
    'm14 m14 . . . . . . . . . . . . m39 m39'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM'
    'm13 m13 m12 m11 m10 m9 m8 m7 m6 m5 m4 m3 m2 m1 startM startM';

}
#tabla > div
{
    border: 1px solid black;
}

.szam {grid-area:szamHelye;}
.kep{grid-area:kepHelye;}
.szoveg{grid-area:szovegHelye;}

.kismezoV
{
    display:grid;
    grid-template:
    'szamHelye'
    'kepHelye'
    'kepHelye'
    'kepHelye'
    'szovegHelye'
    'szovegHelye';
}

.kismezoV
{
    display:grid;
    grid-template:
    'szovegHelye'
    'szovegHelye'
    'kepHelye'
    'kepHelye'
    'kepHelye'
    'szamHelye';
}

.kismezoF
{
    display:grid;
    grid-template:
    'szovegHelye szovegHelye kepHelye kepHelye kepHelye szamHelye';
}

.kismezoV > div
{
    border:1px solid black;
}

.kismezoF > div
{
    border:1px solid black;
}
/*
#tablaSorFelso
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 0px;
}
*/

/*
#nagybox
{
    background-color: #f1f1f1;
    border: 1px solid black;

    text-align: center;
}
#kisboxOszlop{

    background-color: #f1f1f1;
    border: 1px solid black;
    height:87.94px;
    width:187.83px;
    text-align: center;
}

#kisboxSor
{
    background-color: #f1f1f1;
    border: 1px solid black;
    width:87.94px;
    height:187.83px;
    text-align: center;
}*/
